<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd  
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 不需要多数据源的配置 -->
    <!--<import resource="mybatis/mybatis.xml"/>-->

    <!--<import resource="redis.xml"/>-->

    <!--<import resource="rabbitmq.xml"/>-->
	
	<!--定时任务-->
    <!--<import resource="schedule.xml"/>-->

    <import resource="websocket.xml"/>

    <import resource="swagger.xml"/>

    <import resource="web-mvc.xml"/>

    <!-- 配置spring bean的扫描包 -->
    <context:component-scan base-package="com.csy.webmvc"/>

    <!--导入fdfs配置-->
    <bean class="com.github.tobato.fastdfs.FdfsClientConfig"/>

    <!-- properties配置文件位置 ,因为使用了maven打包，所以所以不需要配置spring相关的properties了（打包完成后属性值已经被替换） -->
    <context:property-placeholder location="classpath*:conf/**/*.properties"/>

    <!-- 使用@aspectj注解 -->
    <aop:aspectj-autoproxy/>
</beans> 